Repository tapendium/docker: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload deploy pipeline for cfnlint container, :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload unit-test pipeline for node-awscli-jq, :pipeline: Upload lint pipeline for cfn-lint container, ":pipeline: Upload lint pipeline for node-awscli-jq container"

.buildkite/merge.yml:

steps:
  - label: ":docker: Load Docker hub credentials"
    plugins:
      - tapendium/1password-secrets#v1.1.0:
          env:
            DOCKER_LOGIN_PASSWORD:
              secret-uuid: zisch5odkndtzeb6pqupfazww4
              field: credential
  - label: ":pipeline: triggering deploy pipelines"
    plugins:
      - chronotc/monorepo-diff:
          diff: "git diff --name-only HEAD..main"
          watch:
            - path: cfnlint
              config:
                label: ":pipeline: Upload deploy pipeline for cfnlint container"
                command: buildkite-agent pipeline upload .buildkite/deploy.yml
                env:
                  - CONTAINER_NAME=cfnlint
                  - DOCKER_LOGIN_PASSWORD

.buildkite/pr.yml:

steps:
  - label: ":yaml: YAML Lint"
    plugins:
      - docker#v3.13.0:
          command: ["./"]
          image: "cytopia/yamllint:latest"
      - seek-oss/github-merged-pr#v1.1.2:
          mode: checkout
  - label: "Triggering tests pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.3.0:
          diff: "git diff --name-only HEAD..origin/main"
          watch:
            - path: cfn-lint
              config:
                label: ":pipeline: Upload unit-test pipeline for cfn-lint"
                command: buildkite-agent pipeline upload .buildkite/test.yml
                env:
                  - CONTAINER_NAME=cfn-lint
            - path: node-awscli-jq
              config:
                label: ":pipeline: Upload unit-test pipeline for node-awscli-jq"
                command: buildkite-agent pipeline upload .buildkite/test.yml
                env:
                  - CONTAINER_NAME=node-awscli-jq
  - label: "Triggering lint pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.3.0:
          diff: "git diff --name-only HEAD..origin/main"
          watch:
            - path: cfn-lint
              config:
                label: ":pipeline: Upload lint pipeline for cfn-lint container"
                command: buildkite-agent pipeline upload .buildkite/lint.yml
                env:
                  - CONTAINER_NAME=cfn-lint
            - path: node-awscli-jq
              config:
                label: >-
                  ":pipeline: Upload lint pipeline for node-awscli-jq container"
                command: buildkite-agent pipeline upload .buildkite/lint.yml
                env:
                  - CONTAINER_NAME=node-awscli-jq

[DOCKER-11] Add Test pipeline for Multi platform image
  .buildkite/pr.yml
  .buildkite/test-multi-platform.yml
  scripts/unit-test.sh
Due: none

[DOCKER-11] Run multi build in parallel
  .buildkite/test-multi-platform.yml
  node-awscli-jq/Dockerfile
  node-awscli-jq/unit-test-amd64.yml
  node-awscli-jq/unit-test-arm64.yml
  scripts/unit-test.sh
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-11] Modify condition statement
  node-awscli-jq/Dockerfile
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-11] Skip version check
  .buildkite/test-multi-platform.yml
  node-awscli-jq/Dockerfile
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-11] Add more test cases
  node-awscli-jq/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-11] Update test cases
  node-awscli-jq/unit-test-amd64.yml
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-11] Unskip version check - Rename amd > x86
  .buildkite/test-multi-platform.yml
  node-awscli-jq/Dockerfile
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-11] Build arm based image only
  .buildkite/test-multi-platform.yml
Due: none

[DOCKER-11] Add pr pipeline for node-awscli-jq (#12)
  .buildkite/pr.yml
  .buildkite/test-multi-platform.yml
  .hadolint.yaml
  node-awscli-jq/Dockerfile
  node-awscli-jq/unit-test-amd64.yml
  node-awscli-jq/unit-test-arm64.yml
  scripts/unit-test.sh
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-12] Add multi-arch deploy pipeline
  .buildkite/deploy.yml
  .buildkite/test-multi-platform.yml
Due: none

[DOCKER-12] Add multi-arch deploy pipeline (#13)
  .buildkite/deploy.yml
  .buildkite/test-multi-platform.yml
Due: none

[DOCKER-13] Add release notes for node-awscli-jq
  release_notes/node-awscli-jq_0.0.1.md
Due: none

[DOCKER-13] Add release notes for node-awscli-jq (#14)
  release_notes/node-awscli-jq_0.0.1.md
Due: none

[DOCKER-14] Update image tag name
  .buildkite/deploy.yml
Due: none

[DOCKER-14] Update readme
  README.md
Due: none

[DOCKER-14] Update image tag name (#15)
  .buildkite/deploy.yml
  README.md
Due: none

[DOCKER-15] Create remote manifest
  .buildkite/deploy.yml
Due: none

[DOCKER-15] Create remote manifest (#16)
  .buildkite/deploy.yml
Due: none

[DOCKER-16] Add docker authentication
  .buildkite/deploy.yml
Due: none

[DOCKER-16] Precise naming
  .buildkite/deploy.yml
Due: none

[DOCKER-16] Add docker authentication (#17)
  .buildkite/deploy.yml
Due: none

[DOCKER-21] Set multi-platform test flow as default
  .buildkite/pr.yml
  .buildkite/test-multi-platform.yml
  .buildkite/test.yml
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-21] Set multi-platform test flow as default (#19)
  .buildkite/pr.yml
  .buildkite/test-multi-platform.yml
  .buildkite/test.yml
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-21] Update lint version
  cfn-lint/Dockerfile
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-21] Add release notes
  release_notes/cfn-lint_0.0.2.md
Due: none

[DOCKER-21] Update cfn-lint version from 0.61.0 to 0.61.4 (#18)
  cfn-lint/Dockerfile
  release_notes/cfn-lint_0.0.2.md
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-23] Bump cfn-lint from 0.61.4 to 0.71.1
  cfn-lint/Dockerfile
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-23] Update tests
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-23] Bump cfn-lint from 0.61.4 to 0.71.1 (#20)
  cfn-lint/Dockerfile
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-23] Add release notes
  release_notes/cfn-lint_0.0.3.md
Due: none

[DOCKER-23] Add release notes (#21)
  release_notes/cfn-lint_0.0.3.md
Due: none

[DOCKER-25] Add node 18 variant
  .buildkite/pr.yml
  node18-awscli-jq/Dockerfile
  node18-awscli-jq/unit-test-amd64.yml
  node18-awscli-jq/unit-test-arm64.yml
Due: none

[DOCKER-25] Linting and tests fix
  .buildkite/pr.yml
  node18-awscli-jq/unit-test-amd64.yml
  node18-awscli-jq/unit-test-arm64.yml
Due: none

[DOCKER-25] Remove trailing spaces
  .buildkite/pr.yml
Due: none

[DOCKER-25] Add node 18 variant (#22)
  .buildkite/pr.yml
  node18-awscli-jq/Dockerfile
  node18-awscli-jq/unit-test-amd64.yml
  node18-awscli-jq/unit-test-arm64.yml
Due: none

[DOCKER-26] Create release note for node18
  release_notes/node18-awscli-jq_0.0.1.md
Due: none

[DOCKER-26] Create release note for node18 (#23)
  release_notes/node18-awscli-jq_0.0.1.md
Due: none

[DOCKER-27] Bump cfn-lint version
  cfn-lint/Dockerfile
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-27] Bump cfn-lint version (#24)
  cfn-lint/Dockerfile
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-28] Bump 1password plugin
  .buildkite/deploy.yml
Due: none
