Repository tapendium/docker: changes, and which Buildkite steps are due for each by the changed paths.
All: :pipeline: Upload deploy pipeline for cfnlint container, :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload unit-test pipeline for node-awscli-jq, :pipeline: Upload lint pipeline for cfn-lint container, ":pipeline: Upload lint pipeline for node-awscli-jq container"

.buildkite/merge.yml:

steps:
  - label: ":docker: Load Docker hub credentials"
    plugins:
      - tapendium/1password-secrets#v1.1.0:
          env:
            DOCKER_LOGIN_PASSWORD:
              secret-uuid: zisch5odkndtzeb6pqupfazww4
              field: credential
  - label: ":pipeline: triggering deploy pipelines"
    plugins:
      - chronotc/monorepo-diff:
          diff: "git diff --name-only HEAD..main"
          watch:
            - path: cfnlint
              config:
                label: ":pipeline: Upload deploy pipeline for cfnlint container"
                command: buildkite-agent pipeline upload .buildkite/deploy.yml
                env:
                  - CONTAINER_NAME=cfnlint
                  - DOCKER_LOGIN_PASSWORD

.buildkite/pr.yml:

steps:
  - label: ":yaml: YAML Lint"
    plugins:
      - docker#v3.13.0:
          command: ["./"]
          image: "cytopia/yamllint:latest"
      - seek-oss/github-merged-pr#v1.1.2:
          mode: checkout
  - label: "Triggering tests pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.3.0:
          diff: "git diff --name-only HEAD..origin/main"
          watch:
            - path: cfn-lint
              config:
                label: ":pipeline: Upload unit-test pipeline for cfn-lint"
                command: buildkite-agent pipeline upload .buildkite/test.yml
                env:
                  - CONTAINER_NAME=cfn-lint
            - path: node-awscli-jq
              config:
                label: ":pipeline: Upload unit-test pipeline for node-awscli-jq"
                command: buildkite-agent pipeline upload .buildkite/test.yml
                env:
                  - CONTAINER_NAME=node-awscli-jq
  - label: "Triggering lint pipelines"
    plugins:
      - chronotc/monorepo-diff#v2.3.0:
          diff: "git diff --name-only HEAD..origin/main"
          watch:
            - path: cfn-lint
              config:
                label: ":pipeline: Upload lint pipeline for cfn-lint container"
                command: buildkite-agent pipeline upload .buildkite/lint.yml
                env:
                  - CONTAINER_NAME=cfn-lint
            - path: node-awscli-jq
              config:
                label: >-
                  ":pipeline: Upload lint pipeline for node-awscli-jq container"
                command: buildkite-agent pipeline upload .buildkite/lint.yml
                env:
                  - CONTAINER_NAME=node-awscli-jq

[DOCKER-28] Disable rule length for yamllint
  .buildkite/deploy.yml
Due: none

[DOCKER-28] Bump 1password plugin (#25)
  .buildkite/deploy.yml
Due: none

[DOCKER-29] Add dependabot and integrate with Jira
  .github/dependabot.yml
  .github/jira_templates/edit
  .github/workflows/dependabot_automerge.yml
  .github/workflows/dependabot_create_jira_ticket.yml
  .github/workflows/pr_branch_updater.yml
Due: none

[DOCKER-29] Add dependabot and integrate with Jira (#26)
  .github/dependabot.yml
  .github/jira_templates/edit
  .github/workflows/dependabot_automerge.yml
  .github/workflows/dependabot_create_jira_ticket.yml
  .github/workflows/pr_branch_updater.yml
Due: none

[DOCKER-30] Remove unused Jira edit template components
  .github/jira_templates/edit
Due: none

[DOCKER-30] Remove unused Jira edit template components (#27)
  .github/jira_templates/edit
Due: none

[DOCKER-31] Copy Dependabot config from EXHIBIT
  .github/dependabot.yml
  .github/jira_templates/edit_assignee
  .github/jira_templates/edit_reviewer
  .github/workflows/dependabot_autocomplete.yml
  .github/workflows/dependabot_automerge.yml
Due: none

[DOCKER-31] Copy Dependabot config from EXHIBIT (#28)
  .github/dependabot.yml
  .github/jira_templates/edit_assignee
  .github/jira_templates/edit_reviewer
  .github/workflows/dependabot_autocomplete.yml
  .github/workflows/dependabot_automerge.yml
Due: none

[DOCKER-32] Bump cfn-lint version to allow new DeletionPolicy
  cfn-lint/Dockerfile
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-32] Bump cfn-lint version to allow new DeletionPolicy (#29)
  cfn-lint/Dockerfile
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-33] node-awscli-jq install dnsutils
  node-awscli-jq/Dockerfile
  node-awscli-jq/unit-test-amd64.yml
  node-awscli-jq/unit-test-arm64.yml
  release_notes/node-awscli-jq_0.0.2.md
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-33] node-awscli-jq install dnsutils (#30)
  node-awscli-jq/Dockerfile
  node-awscli-jq/unit-test-amd64.yml
  node-awscli-jq/unit-test-arm64.yml
  release_notes/node-awscli-jq_0.0.2.md
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-34] Install gettext on node-awscli-jq
  node-awscli-jq/Dockerfile
  node-awscli-jq/unit-test-amd64.yml
  node-awscli-jq/unit-test-arm64.yml
  release_notes/node-awscli-jq_0.0.3.md
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-34] Install gettext on node-awscli-jq (#31)
  node-awscli-jq/Dockerfile
  node-awscli-jq/unit-test-amd64.yml
  node-awscli-jq/unit-test-arm64.yml
  release_notes/node-awscli-jq_0.0.3.md
Due: :pipeline: Upload unit-test pipeline for node-awscli-jq, ":pipeline: Upload lint pipeline for node-awscli-jq container"

[DOCKER-35] Bump to node 18.18.0
  node18-awscli-jq/Dockerfile
  release_notes/node18-awscli-jq_0.0.2.md
Due: none

[DOCKER-35] Update tests
  node18-awscli-jq/unit-test-amd64.yml
  node18-awscli-jq/unit-test-arm64.yml
Due: none

[DOCKER-35] Bump to node 18.18.0 (#32)
  node18-awscli-jq/Dockerfile
  node18-awscli-jq/unit-test-amd64.yml
  node18-awscli-jq/unit-test-arm64.yml
  release_notes/node18-awscli-jq_0.0.2.md
Due: none

[DOCKER-36] Bump version of cfn-lint
  cfn-lint/Dockerfile
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-36] Add release notes
  release_notes/cfn-lint_0.0.6.md
Due: none

[DOCKER-36] Fix unit tests
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-36] Bump version of cfn-lint (#33)
  cfn-lint/Dockerfile
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
  release_notes/cfn-lint_0.0.6.md
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-37] Add pact-cli image
  .buildkite/pr.yml
  pact-cli/Dockerfile
Due: none

Add multiplatform build
  .buildkite/pr.yml
Due: none

Create docker builder
  .buildkite/pr.yml
Due: none

Save image and ls
  .buildkite/pr.yml
Due: none

Output to image
  .buildkite/pr.yml
Due: none

Use implicit docker output
  .buildkite/pr.yml
Due: none

Use local output
  .buildkite/pr.yml
Due: none

Test cfn lint
  .buildkite/pr.yml
Due: none

Oci output
  .buildkite/pr.yml
Due: none

Test cfnlint
  .buildkite/pr.yml
Due: none

[DOCKER-37] Add conditional deployment step for multiplatform image
  .buildkite/deploy.yml
Due: none

[DOCKER-37] Add pact cli readme
  pact-cli/README.md
Due: none

[DOCKER-37] Add pact-cli image (#34)
  .buildkite/deploy.yml
  .buildkite/pr.yml
  pact-cli/Dockerfile
  pact-cli/README.md
Due: none

[DOCKER-38] Bump cfn-lint to latest
  cfn-lint/Dockerfile
  release_notes/cfn-lint_0.0.7.md
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-38] Bump cfn-lint to latest (#35)
  cfn-lint/Dockerfile
  release_notes/cfn-lint_0.0.7.md
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-39] Bump cfn-lint to v1.10.3
  cfn-lint/Dockerfile
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

Fixes
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
  release_notes/cfn-lint_0.0.8.md
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

fixes
  cfn-lint/output.json
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container

[DOCKER-39] Update tests
  cfn-lint/unit-test-amd64.yml
  cfn-lint/unit-test-arm64.yml
Due: :pipeline: Upload unit-test pipeline for cfn-lint, :pipeline: Upload lint pipeline for cfn-lint container
